@model DienTu.Models.ViewModels.HoaDonVM
@{
    ViewData["Title"] = "ThemSanPham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Tạo một hoá đơn</h2>
<br />

<div class="border backgroundWhiteBorder">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Thêm hoá đơn</h2>
        </div>
        <div class="col-6 text-right">
            <partial name="_CreateButtonPartial"></partial>
        </div>
    </div>
</div>

